layout: index
description: "{NK} NodeKit is the universal, open-source, embedded engine that provides a full ES5 / Node.js instance inside desktop and mobile applications for OS X, iOS, Android, and Windows."
subtitle: "NodeKit"
subdescription: "Welcome to the {NK} NodeKit Project. You'll find comprehensive guides and documentation to help you start working with NodeKit as quickly as possible, as well as support if you get stuck. Let's jump right in!"
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Lightweight
      p.intro-feature-desc As slim as you want, NodeKit uses the embedded JavaScript engines provided by the operating system
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Open Source
      p.intro-feature-desc Always free and open-source, include NodeKit in commercial and non-commercial projects alike
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Portable
      p.intro-feature-desc The NodeKit specs allow applications to be developed independently of the actual platform on which it runs;  100% (not 99%) of application code reuse across desktop, device and cloud
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Extensible
      p.intro-feature-desc The pattern and reference implementation is particularly well-suited for extending with plugins